[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "config/tmux"]
	path = config/tmux
	url = https://github.com/gpakosz/.tmux
[submodule "config/nvim/AstroNvim"]
	path = config/nvim/AstroNvim
	url = https://github.com/AstroNvim/AstroNvim
